@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent-teal: #4dd0e1;
  --card-bg: #1a1a1a;
  --header-bg: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Flex', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
